In [11]:
import pandas as pd
import tools as t

In [12]:
df  = t.r_csv("raw/stage1.csv")

In [13]:
t.count_col(df, ["Rank", "Class"]).head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Rank</th>
      <th>Class</th>
    </tr>
    <tr>
      <th>Rank</th>
      <th>Class</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">A</th>
      <th>Bloodcraft</th>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Dragoncraft</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Forestcraft</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Portalcraft</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Runecraft</th>
      <td>5</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>